@media all and (min-width: 480px){
  .Fuel {
    padding: 60px 0;
  }
  .Fuel form {
    margin: 0 auto;
    max-width: 320px;
  }
  .Fuel button {
    margin-left: 30px
   }
   .Fuel button + button {
    margin-left: 70px
  }
}