@media all and (min-width: 480px){
  .Login {
    padding: 60px 0;
  }
  
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }	
  .Login button{
    margin-left: 30px
  }
  .Login button + button{
    margin-left: 70px
  }
}